build/
mewlib/
catlib/
mewmew
catlang
x
x.cpp
test.py
object.py

lispnew/


*.jar
antlr4-cpp-runtime-4.8-source.zip
antlr-cpp-runtime/
# Prerequisites
*.d
*.1

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
